.vehicleDetailTab {
  height: 100%;
}
.suppliesButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.infoList {
  margin-top: 5vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#vehicleColor {
  height: 2vw;
  width: 3vw;
  margin-left: 1vw;
}

.vehicleColorContainer {
  display: flex;
  flex-direction: row;
}
