<div class="container">

  <mf-header></mf-header>

  <mat-tab-group [dynamicHeight]='true'>

    <mat-tab style="height: 100%">

      <ng-template mat-tab-label>
        <mat-icon >local_gas_station</mat-icon>
      </ng-template>
      <!-- TODO: make a component of this -->
      <div style="width: 100%; margin-top: 5vh; display: flex; justify-content: center; align-items: center; ">
        <mat-spinner
          [diameter]="108"
          *ngIf="isLoadingSupplies"
        >
        </mat-spinner>
      </div>

      <ng-template [ngIf]="!isLoadingSupplies">
        <mf-general-list
          [onDataChange]="suppliesUpdate.asObservable()"
          [data]="treatedSupplies"
          listName='vehicleSupply'
          [displayedColumns]="['columns1', 'columns2']"
        ></mf-general-list>

        <div
          style="display: flex; flex-direction: row; align-items: flex-start;"
        >
          <button
            mat-button
            style="color: white; width: 50%; background-color: #436399; height: 40px;"
            (click)="loadMoreSupplies()"
            *ngIf="isLoadMoreSuppliesAvailable"
            id="loadMoreSupplies"
          >
            <mat-icon>cloud_download</mat-icon>
          </button>
          <button
            mat-button
            style="color: white; background-color: #436399; height: 40px;"
            [style.width]="isLoadMoreSuppliesAvailable ? '50%' : '100%'"
            (click)="addNewSupply()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab style="height: 100%" >

      <ng-template mat-tab-label>
        <mat-icon >info</mat-icon>
      </ng-template>

      <div
        style="margin-top: 5vh; height: 30vh; display: flex; flex-direction: column; justify-content: space-between;"
      >
        <div id="brand-model-year"  >{{vehicle.marca}} {{vehicle.modelo}} - {{vehicle.ano}}</div>
        <div id="license-plate">Placa: {{vehicle.placa}}</div>
        <div id="km">Km: {{vehicle.km}}</div>
        <div id="tank">Capacidade do tanque: {{vehicle.capacidadeTanque}}</div>
        <div style="display: flex; flex-direction: row;">
          <div id="color">cor:</div>
          <div [style.background-color]="vehicle.cor" style="height: 2vw; width: 3vw; margin-left: 1vw;"></div>
        </div>
      </div>

    </mat-tab>


  </mat-tab-group>

</div>
