.vehicleDetailTab {
  height: 100%;
}

.spinner {
  width: 100%;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suppliesButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.vehicleDetailButton {
  color: white;
  background-color: #436399;
  height: 40px;
}

.infoList {
  margin-top: 5vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#vehicleColor {
  height: 2vw;
  width: 3vw;
  margin-left: 1vw;
}

.vehicleColorContainer {
  display: flex;
  flex-direction: row;
}
