<div class="headerContainer">
  <div
    class="pointer arrowBack"
    (click)="goBack()"
    *ngIf="!isHomePage"
  >
    <mat-icon [inline]="true">arrow_back</mat-icon>
  </div>
  <div
    class="pointer logout"
    (click)="confirmLogout()"
    *ngIf="isHomePage"
  >
    <mat-icon [inline]="true">power_settings_new</mat-icon>
  </div>
  <div>
    <h3 id="username">Olá, {{username}}</h3>
    <h3>{{currentMonth | monthName}}: {{currentMonthTotal}}</h3>
  </div>
  <div id="logo">LOGO</div>
</div>

