<div class="container">

  <mf-header></mf-header>

  <mat-tab-group [dynamicHeight]='true'>

    <mat-tab class="homeTab">

      <ng-template mat-tab-label>
        <mat-icon >directions_car</mat-icon>
      </ng-template>

      <div class="spinner">
        <mat-spinner
          [diameter]="108"
          *ngIf="isLoadingVehicles"
        >
        </mat-spinner>
      </div>

      <ng-template [ngIf]="!isLoadingVehicles">
        <mf-general-list
          [data]="treatedVehicles"
          listName='vehicle'
          [displayedColumns]="['column1', 'column2', 'remove']"
          [onDataChange]="vehiclesUpdate.asObservable()"
          (onRemoveEvent)="removeVehicle($event)"
          (onClickEvent)="getVehicleDetail($event)"
        ></mf-general-list>
        <div class="buttonsContainer">
          <button
            class="homeButton"
            mat-button
            (click)="addNewVehicle()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab class="homeTab">

      <ng-template mat-tab-label>
        <mat-icon >local_gas_station</mat-icon>
      </ng-template>
      <!-- TODO: make a component of this -->
      <div class="spinner">
        <mat-spinner
          [diameter]="108"
          *ngIf="isLoadingSupplies"
        >
        </mat-spinner>
      </div>

      <ng-template [ngIf]="!isLoadingSupplies">
        <mf-general-list
          [onDataChange]="suppliesUpdate.asObservable()"
          [data]="treatedSupplies"
          listName='supply'
          [displayedColumns]="['columns1', 'columns2']"
        ></mf-general-list>

        <button
            mat-button
            class="homeButton"
            (click)="loadMoreSupplies()"
            *ngIf="isLoadMoreSuppliesAvailable"
            id="loadMoreSupplies"
          >
            <mat-icon>cloud_download</mat-icon>
          </button>
      </ng-template>

    </mat-tab>

    <!-- <mat-tab>

      <ng-template mat-tab-label>
        <mat-icon >person_outline</mat-icon>
      </ng-template>

      Dados do Usuário
    </mat-tab> -->

  </mat-tab-group>

</div>
