<div class="container">

  <mf-header></mf-header>

  <mat-tab-group style="height: 100%">

    <mat-tab>

      <ng-template mat-tab-label>
        <mat-icon >directions_car</mat-icon>
      </ng-template>

      <mat-spinner
        [diameter]="36"
        *ngIf="isLoadingVehicles"
      >
      </mat-spinner>

      <ng-template [ngIf]="!isLoadingVehicles">
        <mf-general-list
          [data]="treatedVehicles"
          [onRemoveEnable]="true"
          (onRemoveEvent)="removeVehicle($event)"
          (onClickEvent)="getVehicleDetail($event)"
        ></mf-general-list>
        <div
          style="display: flex; flex-direction: column; align-items: center; margin-top: 2vh;"
        >
          <button
            mat-button
            style="color: white; width: 100%; background-color: #436399; height: 40px;"
            (click)="addNewVehicle()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab>

      <ng-template mat-tab-label>
        <mat-icon >local_gas_station</mat-icon>
      </ng-template>

      <mf-general-list
        [data]="treatedSupplies"
        [onRemoveEnable]="false"
      ></mf-general-list>

    </mat-tab>

    <!-- <mat-tab>

      <ng-template mat-tab-label>
        <mat-icon >person_outline</mat-icon>
      </ng-template>

      Dados do Usuário
    </mat-tab> -->

  </mat-tab-group>

</div>
