<div class="container">
  <mf-header></mf-header>
  <h1 class="title">Cadastrar Veículo</h1>
  <form class="form" [formGroup]="addVehicleForm">
    <mat-form-field>
      <input
        id="vehicleColor"
        matInput
        type="color"
        placeholder="Cor do veículo"
        formControlName="cor"
      >
      <mat-hint *ngIf="addVehicleForm.get('cor').invalid">Insira a cor do veículo.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        id="vehicleYear"
        matInput
        type="number"
        placeholder="Ano"
        formControlName="ano"
      >
      <mat-hint *ngIf="addVehicleForm.get('ano').invalid">Insira o ano do veículo.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        id="vehicleTank"
        matInput
        type="number"
        placeholder="Capacidade do tanque"
        formControlName="capacidadeTanque"
      >
      <mat-hint *ngIf="addVehicleForm.get('capacidadeTanque').invalid">Insira a capacidade do tanque do veículo.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        id="vehicleKm"
        matInput
        type="number"
        placeholder="Quilometragem do carro"
        formControlName="km"
      >
      <mat-hint *ngIf="addVehicleForm.get('km').invalid">Insira a quilometragem atual do veículo.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        id="vehicleBrand"
        matInput
        type="text"
        placeholder="Marca"
        formControlName="marca"
      >
      <mat-hint *ngIf="addVehicleForm.get('marca').invalid">Insira a marca do fabricante do veículo.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        id="vehicleModel"
        matInput
        type="text"
        placeholder="Modelo"
        formControlName="modelo"
      >
      <mat-hint *ngIf="addVehicleForm.get('modelo').invalid">Insira o modelo do veículo.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input
        id="vehicleLicensePlate"
        matInput
        type="text"
        placeholder="Placa"
        formControlName="placa"
      >
      <mat-hint *ngIf="addVehicleForm.get('placa').invalid">Insira a placa do veículo.</mat-hint>
    </mat-form-field>
    <button
      id="submitButton"
      mat-raised-button
      color="primary"
      class="primary-button"
      type="button"
      (click)="register()"
      [disabled]="addVehicleForm.invalid"
    >
      <div>
        <span *ngIf="!isLoading">Cadastrar</span>
        <mat-spinner
          [diameter]="36"
          *ngIf="isLoading"
        >
        </mat-spinner>
      </div>
    </button>
  </form>
</div>
