<div class="container">
    <mat-card>
        <mat-card-title class="title">Login</mat-card-title>

        <form [formGroup]="loginForm" class="form" (ngSubmit)="submit()">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input formControlName="username" id="userName" matInput type="text" placeholder="Informe seu email seu email">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input formControlName="password" id="password" matInput type="password" placeholder="Informe seu email sua senha">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Logar</button>
            </mat-card-actions>
        </form>
        <mat-card-footer>
            <div class="full-width ml-5">
                Não possui login?
                <a href="#" routerLink="/registerUser">click aqui</a>
            </div>
        </mat-card-footer>
    </mat-card>
</div>
