.container, .form {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.mat-table {
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 4vw;
  color: #436399;
}

.primary-button {
  background-color: #436399;
  font-size: 16px;
  margin-top: 3vh;
}

#submitButton {
  display:inline-block;
}

#submitButton div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeButton{
  background-color: transparent;
  border: 0;
}
